
* {
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  width: 100%;
  height: 100vh;
  box-shadow: 0 2px 6px #555;
  margin: 0;
  /* padding: 25px; */
  background: linear-gradient(#f7fff7, #ffe66d);
  /* padding: 0; */
}
h1{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  color: #666;
}


.item {
  background: #f1d302;
  border: 0.5px solid white;
  text-align-last: center;
  height: 30px;
  
}


form .table-artiulos {
  top: 20px;
  
}


form{
  width: 100%;
  display: flex;
  margin-top: 5px;
}

/* form button{
  flex: 1;
  background-color: transparent;
  letter-spacing: 2px;
  cursor: pointer;
} */

.table-lista .lista{
  height: 25px;
  text-transform: capitalize;
   display: grid;
  grid-template-columns:
    1fr minmax(160px, 1fr) minmax(40px, 1fr)
    minmax(10px, 1fr) minmax(10px, 1fr);
  text-align: left;
  margin-top: 115px;
}

.table-lista .listaX{
  height: 25px;
  text-transform: capitalize;
   display: grid;
  grid-template-columns:
    1fr minmax(160px, 1fr) minmax(40px, 1fr)
    minmax(10px, 1fr) minmax(10px, 1fr);
  text-align: left;
}

/* .lista button{
 background: transparent;
 border: 0.5px solid white;
} */

.items {
  padding: 2px;
  border: 0.5px solid white;
  text-align: left;
  align-content: center;
  line-height: 2.3;
   padding-left: 10px;
}

.table-lista .lista .active{
  opacity: 0.5;
  text-decoration: line-through;
}
.table-lista .lista input,
.row input{
  margin-right: 5px;
  transform: translateY(1px);
}
.table-lista .lista button,
.row button{
 
 cursor: pointer;
}
.table-lista .lista button:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.row #delete{
 /*  background: crimson; */
}

@media (max-width: 400px){
  /* .App{
    padding: 10px;
  } */
}
h2{
  text-align: center;
  color: crimson;
  margin-top: 70px;
}